<h2 class="text-center">Employee List</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div *ngIf="isError" class="alert alert-danger">
        <strong>Error!</strong> Telah terjadi error : {{ error }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <td>No</td>
            <td>Full Name</td>
            <td>Address</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Birth Date</td>
            <td>Departement</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ employee.firstName }} {{ employee.lastName }}</td>
            <td>{{ employee.address }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.birthDate }}</td>
            <td>{{ employee.departement.name }}</td>
            <td style="width: 150px" class="text-right">
              <a (click)="onEdit(employee)" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <a (click)="onRemoveEmployee(employee.id)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
